.footer-div {
  width: 98.7vw;
  min-width: 400px;
  background-color: black;
  height: 50px;
  color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 10px;
  margin-top: 5px;
  color: yellow;


}
span{
  margin-top: 15px;
  margin-right: 10px;
  color: yellow;
}

p{
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  color: yellow;
  margin-top: 10px;
  
}